blinker==1.8.2
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Flask-SQLAlchemy==2.4.4
PyMySQL==1.0.2
uWSGI==2.0.26
Werkzeug==3.0.4
Flask-Session==0.8.0
chromadb==0.5.5
langchain==0.3.0 
langchain-community==0.3.0
langchain-core==0.3.1 
langchain-google-genai==2.0.0 
langchain-openai==0.2.0 
langchain-text-splitters==0.3.0 
sentence-transformers==3.1.0 
pypdf==5.0.1
torch==2.2.0 
torchvision==0.17.0 
torchaudio==2.2.0
flask_cors==5.0.0
roboflow==1.1.48